@media (max-width: 1400px) {
    .item__photo {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 1250px) {
    .main__poster {
        margin-right: 30px;
        min-width: 35%;
        max-width: 35%;
    }

    .nav__link,
    .signin__button,
    .signup__button,
    .search-input {
        font-size: 16px;
        line-height: 19px;
    }

    .main__content-subtitle {
        padding-bottom: 20px;
    }

    .main__content-description, .main__content-features {
        padding-bottom: 35px;
    }

    .item__title {
        margin-bottom: 12px;
    }

    .raiting-counter {
        width: 75px;
        height: 75px;
        font-size: 25px;
        line-height: 28px;
    }

    .item__name, .item__en-name {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 1160px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1.5fr 1fr;
        height: 80px;
    }

    .nav__link,
    .signin__button,
    .signup__button,
    .search-input {
        font-size: 14px;
        line-height: 16px;
    }

    .nav__link {
        margin-right: 18px;
    }

    .main__content-title {
        font-size: 28px;
        line-height: 34px;
    }

    .column__item {
        display: block;
        margin-bottom: 12px;
    }

    .item__title {
        margin-bottom: 6px;
    }

   .raiting-customer {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 10px;
    }

   .raiting-customer__description {
       font-size: 14px;
       line-height: 16px;
       padding-bottom: 5px;
    }

   .cast__content-item {
       display: flex;
       align-items: center;
       flex-basis: 45%;
       padding-bottom: 35px;
   }

   .item__photo {
       width: 100px;
       height: 100px;
   }
   .item__name, .item__en-name {
       font-size: 16px;
       line-height: 19px;
   }

   .cast {
       padding-bottom: 70px;
   }

    .news {
        padding-bottom: 70px;
    }

    .news__title {
        padding-bottom: 45px;
    }

    .news__content {
        display: flex;
        flex-wrap: wrap;
        height: 60%;
    }

    .news__content-item {
        flex-basis: 48%;
        padding-top: 30px;
        padding-bottom: 52px;
        margin-bottom: 35px;
    }
}

@media (max-width: 880px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 0.5fr 2.75fr 1fr 0.75fr;
        height: 80px;
    }

    .item__photo {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 830px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: 80px;
    }

    .header__nav,
    .header__signup,
    .header__signin {
        display: none;
    }

    .header__nav-burger {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 730px) {
    .main {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 70px;
    }

    .main__poster {
        display: flex;
        justify-content: center;
        margin-right: 0;
        max-width: 100%;
        min-width: 100%;
    }

    .main__poster-picture {
        width: 150%;
    }

    .main__content {
        width: 100%;
    }

    .main__content-title {
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 30px;
        color: #363636;
        padding-bottom: 16px;
        padding-top: 20px;
    }

    .main__content-subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #A5A5A5;
        padding-bottom: 32px;
    }

    .column__item {
        display: flex;
    }

}

@media (max-width: 630px) {
    .header {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        height: 80px;
    }

    .header__search {
        display: none;
    }

    .main__content-features {
        display: block;
    }
    .cast__content {
        display: block;
    }

    .item__photo {
        width: 100px;
        height: 100px;
    }

    .item__name {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #5671F6;
        padding-bottom: 6px;
    }

    .item__en-name {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #A5A5A5;
    }
    .news__content-item {
        flex-basis: 100%;
    }
}

@media (max-width: 375px) {
    .item__photo {
        width: 70px;
        height: 70px;
    }

    .main__content-raiting {
        width: 100%;
    }

    .raiting-counter {
        width: 100px;
        height: 100px;
        font-size: 25px;
        line-height: 28px;
    }

    /*.raiting-customer__description {*/
    /*    font-size: 14px;*/
    /*    line-height: 16px;*/
    /*    padding-bottom: 5px;*/
    /*}*/

    /*.cast__content-item {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    flex-basis: 45%;*/
    /*    padding-bottom: 35px;*/
    /*}*/
}